/* scrollbar :: created by kass Barker :: kassbarker.com  :: hi@kassbarker.com */
/* scrollbar name : smooth */
::-webkit-scrollbar {
	background-color: #fff;
	width: 10px;

} 
::-webkit-scrollbar-track {
	background-color: #cacccc;
	border-right: 2px solid;
	color: #fff;
	border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: #565858;
	width: 100px;
	border-right: 2px solid;
	border-left: 3px solid;
	border-left-color: #cacccc;
	color: #fff;
}
::-webkit-scrollbar-thumb:vertical:hover {
	background-color:#213134;	
}
